# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
db.sqlite3
*.sqlite3
/staticfiles/
/media/

# ML model (akan di-generate ulang di server)
apps/ml_engine/saved_model.pkl

# Environment
.env
.env.*
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
